.tab{
    overflow: hidden;
    background-color: #f1f1f1;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 20px;
    color: #000;
}
.tab a{
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}
.tab a:hover{
    background-color: #ddd;
    color: black;
}
.tab a.active{
    background-color: #ccc;
    color: white;
}
.centered-content {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}   
.top {
    text-align: center;
    margin-top: 20px;
}
    