body{
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header{
    background-color: #56da5a;
    color: white;
    padding: 10px 0;
    text-align: center;
}

header img{
    height: 50px;
    vertical-align: middle;
}

.nav-main{
    background-color: #56da5a;
    overflow: hidden;
    
}
