body{
    background-color: #24ba638a;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
    background-image:url(image/logo.png);
    background-repeat: no-repeat;
    background-attachment: fixed;   
    background-position: center; 
}  


header{
    background-color: #56da5a;
    color: white;
    padding: 10px 0;
    text-align: center;
}

header img{
    height: 50px;
    vertical-align: middle;
}

.nav-main{
    background-color: #56da5a;
    overflow: hidden;
}

.nav-main a{
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;    
}   
.nav-main a:hover{
    background-color: #166c19;
}