body{
    background-color: olivedrab;
    text-align: center;

}
form{
    align-items:center ;
    border-color: darkgreen;
    color: #ffffff;
    background-attachment: fixed;
    background-color: #18c35c;
}

label{

}

input{
    background-color: #18c35c;
    border-color: darkgreen;
    box-shadow: inset;
    text-decoration: none;
}

button{
    
}